.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
  position: relative; /* 카드 내부 요소가 위치할 수 있게 설정 */
  overflow: hidden; /* 확대 시 내용이 잘리지 않도록 설정 */
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9); /* rgba() 사용으로 투명도와 배경색 설정 */
  opacity: 0;
  transition: opacity 1s ease;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 하단 정렬 */
}

.movie-card:hover .overlay {
  opacity: 1; /* 오버레이가 보이도록 */
}

.movie-card:hover {
  transform: scale(1.1); /* 너무 크게 확대하지 않도록 조정 */
  z-index: 2;
}
.genre-container {
  display: flex;
  flex-wrap: wrap; /* 줄 바꿈을 허용하여 2개씩 배치 */
  gap: 5px; /* 배지 간의 간격 설정 */
}
.genre-badge {
  flex: 1 1 45%; /* 2개씩 배열되도록 설정: grow 1, shrink 1, basis 45% */
  margin-bottom: 5px;
  text-align: center; /* 텍스트 중앙 정렬 */
}
/* 모바일 환경에서의 조정 */
@media (max-width: 576px) {
  .movie-card {
    height: 400px;
    margin-bottom: 20px;
    transform: none; /* 모바일에서 확대하지 않음 */
  }

  .overlay {
    padding: 15px;
    gap: 8px;
    overflow: hidden; /* 오버레이 내부가 넘치지 않도록 */
  }

  .overlay h1 {
    font-size: 1.2rem;
    white-space: normal; /* 줄 바꿈 허용 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 말줄임표 추가 */
  }

  .overlay .badge {
    margin: 3px 0;
    font-size: 0.7rem;
  }

  .overlay div {
    margin: 8px 0;
  }
}
