/* General styles */
.custom-navbar {
  background-color: black !important;
}

/* Font size adjustments for mobile */
.custom-brand img {
  max-width: 80px;
}

.custom-link {
  color: white !important;
  font-size: 14px; /* Adjust the font size */
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .custom-link {
    font-size: 12px; /* Smaller font size on mobile */
  }

  .custom-form {
    flex-direction: row !important; /* Keep the form elements side-by-side */
  }

  .custom-form .form-control {
    width: auto; /* Adjust width to fit properly */
    flex-grow: 1;
    height: 38px;
  }

  .custom-form button {
    flex-shrink: 0;
    height: 38px; /* Match the height of the input field */
    padding: 6px 12px;
    width: 50px;
  }
}
