/* General styles */
.custom-navbar {
  background-color: black !important;
}

/* Font size adjustments for mobile */
.custom-brand img {
  max-width: 80px;
}

.custom-link {
  color: white !important;
  font-size: 14px; /* Adjust the font size */
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .custom-link {
    font-size: 0.5rem !important; /* Smaller font size on mobile */
  }

  .custom-form {
    flex-direction: row !important; /* Keep the form elements side-by-side */
  }
  .custom-brand img {
    max-width: 40px;
    /* 모바일에서 이미지 너비를 줄임 */
  }
  .custom-form .form-control {
    width: auto; /* Adjust width to fit properly */
    flex-grow: 1;
    height: 30px;
  }

  .custom-form button {
    flex-shrink: 0;
    height: 30px; /* Match the height of the input field */

    width: 30px;
    font-size: 0.3rem !important;
  }
}
